<?xml version="1.0"?>
<launch>
  
  <!-- <param name="robot_description" command="$(find xacro)/xacro inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" /> -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find delirobot_description)/urdf/delirobot.xacro" />

    <!-- Send fake joint values-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">s
        <param name="use_gui" value="false"/>
    </node>

    <!-- Send robot states to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
